---
layout: default
title: Blog
---
<div class="bg-white">
    {% include navtest1.html %}
  <h1 class="text-3xl text-black pl-6 pt-20 navbarfont uppercase">Latest Posts</h1>

  <div class="flex flex-wrap overflow-hidden p-6 text-black">
    {% for post in site.posts %}
        <div class=" w-1/3" >
          <a href="{{ post.url }}">
            <div class="m-1 p-2 h-64 bg-cover bg-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
            </div>
            <div>
              <h2 class="text-xl hover:text-teal-700">{{ post.real-post-title }}</h2></a>

              {% if post %}
                {% assign categories = post.categories %}
              {% else %}
                {% assign categories = page.categories %}
              {% endif %} <h3 class="">
              {% for category in categories %}
              <a class="hover:text-blue-400" href="{{site.baseurl}}/categories/{{category|slugize}}">{{ category | upcase }}</a></h3> 
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}

              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br>
              <!--{% if post.author %}{{ post.author }}<span></span>{% endif %}-->
              {{ post.excerpt | truncatewords: 40 }}
          </div>
        </div>
      {% endfor %}
</div>