---
layout: default
title: "Industries of Inferno"
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/assets/js/scrollshow.js"></script>
    <script src="/assets/js/search.js"></script>
  </head>
  
  <div class="flex flex-col bg-black text-white h-screen">
    
    <div class="flex-grow">
      <div class="flex justify-center mt-32 mb-8">
        <div class="rounded-full border-solid border-gray-400 border h-32 w-32 bg-gray-100 overflow-hidden">
          <img class="object-cover" src="assets/images/red_death.jpg">
        </div>
      </div>
      
      <h1 class="container headingfont text-4xl font-light max-w-none text-center text-gray-100">{{ page.title | upcase }}</h1>
      <h3 id="deiktis1" class="container headingfont text-2xl font-light max-w-none text-center text-gray-100">Uncanny musings</h3>
      <div class="w-full text-center mt-24">
        <button id="buttondown" class="rounded bg-transparent navbarfont rounded text-white font-semibold py-2 px-4 border uppercase heading border-white hover:border-transparent hover:bg-white hover:text-black">
          Crawl
        </button>
      </div>
      
      <div>
        {% include navigationbarnotfixed.html %}
      </div>
    </div>
    

  </div>
  
  <div id="blogposts" class="bg-white h-screen">
    <h1 class="text-3xl text-black pl-6 pt-20 navbarfont uppercase">Latest Posts</h1>

    <div class="flex flex-wrap overflow-hidden p-6 text-black">
      {% for post in site.posts limit:6 %}
          <div class=" w-1/3" >
            <a href="{{ post.url }}">
              <div class="m-1 p-2 h-64 bg-cover bg-center hover:opacity-75" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
                <div class="bg-black text-white text-left inline-block px-1">
                  <h3>
                    {% if post %}
                    {% assign categories = post.categories %}
                      {% else %}
                    {% assign categories = page.categories %}
                      {% endif %} 
                    {% for category in categories %}
                    {{ category | upcase }}
                    {% unless forloop.last %}&nbsp;{% endunless %}
                    {% endfor %}
                  </h3> 
                </div>
              </div>
            </a>
              <div class="p-2">
                <h2 class="text-xl hover:text-blue-400"><a href="{{ post.url }}">{{ post.real-post-title }}</a></h2></a>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br>
                <!--{% if post.author %}{{ post.author }}<span></span>{% endif %}-->
                {{ post.excerpt | truncatewords: 40 }}
            </div>
          </div>
        {% endfor %}
  </div>

  <div class="w-full border-t-2 border-solid border-black">
    <div class="w-full"><h2 class="text-3xl text-black pl-6 pt-12 navbarfont uppercase">CATEGORIES</h2><br></div>

    <div class="flex flex-row p-6 navbarfont text-2xl">
      
      <div class="w-1/4">
        <span>
          Music
        </span>

        <div class="flex flex-wrap overflow-hidden p-6 text-black">
          {% for post in site.categories.music limit:3 offset:1 %}
              <div class="w-full">                
                <a href="{{ post.url }}" class="flex">
                  <div class="m-1 p-2 h-32 bg-cover bg-center hover:opacity-75 w-1/2" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
                  </div>
                  <div class="text-base w-1/2">
                    <h2 class="hover:text-blue-400">{{ post.real-post-title }}</h2>
                    <span class="post-meta text-sm text-red-600">{{ post.date | date: "%b %-d, %Y" }}</span><br>
                    <!--{% if post.author %}{{ post.author }}<span></span>{% endif %}-->
                </div>
                </a>
              </div>
            {% endfor %}
        </div>

      </div>
      
      <div class="w-1/4">
        <span>
          Books
        </span>

        <div class="flex flex-wrap overflow-hidden p-6 text-black">
          {% for post in site.categories.books limit:3 offset:1 %}
              <div class="w-full">                
                <a href="{{ post.url }}" class="flex">
                  <div class="m-1 p-2 h-32 bg-cover bg-center hover:opacity-75 w-1/2" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
                  </div>
                  <div class="text-base w-1/2">
                    <h2 class=" hover:text-blue-400">{{ post.real-post-title }}</h2>
                    <span class="post-meta text-sm text-red-600">{{ post.date | date: "%b %-d, %Y" }}</span><br>
                    <!--{% if post.author %}{{ post.author }}<span></span>{% endif %}-->
                </div>
                </a>
              </div>
            {% endfor %}
        </div>

      </div>

      <div class="w-1/4">
        <span>
          Movies
        </span>

        <div class="flex flex-wrap overflow-hidden p-6 text-black">
          {% for post in site.categories.movies limit:3 offset:1 %}
              <div class="w-full">                
                <a href="{{ post.url }}" class="flex">
                  <div class="m-1 p-2 h-32 bg-cover bg-center hover:opacity-75 w-1/2" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
                  </div>
                  <div class="text-base w-1/2">
                    <h2 class=" hover:text-blue-400">{{ post.real-post-title }}</h2>
                    <span class="post-meta text-sm text-red-600">{{ post.date | date: "%b %-d, %Y" }}</span><br>
                    <!--{% if post.author %}{{ post.author }}<span></span>{% endif %}-->
                </div>
                </a>
              </div>
            {% endfor %}
        </div>

      </div>
      
      <div class="w-1/4">
        <span>
          Video Games
        </span>

        <div class="flex flex-wrap overflow-hidden p-6 text-black">
          {% for post in site.categories.video-games limit:3 offset:1 %}
              <div class="w-full">                
                <a href="{{ post.url }}" class="flex">
                  <div class="m-1 p-2 h-32 bg-cover bg-center hover:opacity-75 w-1/2" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
                  </div>
                  <div class="text-base w-1/2">
                    <h2 class=" hover:text-blue-400">{{ post.real-post-title }}</h2>
                    <span class="post-meta text-sm text-red-600">{{ post.date | date: "%b %-d, %Y" }}</span><br>
                    <!--{% if post.author %}{{ post.author }}<span></span>{% endif %}-->
                </div>
                </a>
              </div>
            {% endfor %}
        </div>

      </div>

    </div>
  </div>
  

</html>


