---
layout: categoriesstyle
title: Miscellaneous
---
{% include navigationlight.html %}
<div class="flex flex-col w-full min-h-screen pt-32 lg:pt-0">
    
  <div class="flex flex-row">
    <h1 class="text-6xl lg:text-3xl text-black pl-6 pt-6 navbarfont uppercase">Miscellaneous</h1>
    <button class="mt-6 mr-6 absolute right-0 buttontoggle rounded bg-transparent navbarfont rounded text-black font-semibold uppercase heading hover:text-teal-600">
      <i class="font-light text-6xl lg:text-3xl ri-layout-column-line"></i>
    </button>
  </div>
      
  <div class="paneli flex flex-wrap overflow-hidden p-6 text-black">
    {% for post in site.categories.misc %}
        <div class="w-full lg:w-1/3" >
          <a href="{{ post.url }}">
            <div class="m-1 p-2 h-screen/2 lg:h-64 bg-cover bg-center hover:opacity-75" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
            </div>
          </a>
          <div class="p-2">
            <a href="{{ post.url }}"><h2 class="text-5xl lg:text-xl hover:text-blue-400">{{ post.real-post-title }}</h2></a>
            <span class="post-meta text-red-600 text-2xl lg:text-base">{{ post.date | date: "%b %-d, %Y" }}</span><br>
            <!--{% if post.author %}{{ post.author }}<span></span>{% endif %}-->
            <span class=" text-3xl lg:text-base">{{ post.excerpt | truncatewords: 40 }}</span>
          </div>
        </div>
      {% endfor %}
  </div>

  <div class="paneli flex flex-wrap overflow-hidden p-6 text-black hidden">
    {% for post in site.categories.misc %}
        <div class="w-full lg:w-1/2 flex flex-row" >
            <a href="{{ post.url }}">
              <div class="m-1 p-2 h-64 lg:h-16 w-64 lg:w-16 bg-cover bg-center hover:opacity-75" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
              </div>
            </a>
            <div class="p-2">
              <a href="{{ post.url }}"><h2 class="text-4xl lg:text-xl hover:text-blue-400">{{ post.real-post-title }}</h2></a>
              <span class="post-meta text-red-600">{{ post.date | date: "%b %-d, %Y" }}</span><br>
            </div>          
        </div>
      {% endfor %}
  </div>

</div>
