<div id="belobara" class="fixed hidden top-0 w-full z-20 bg-white border-b-2 border-black">
  <nav class="flex flex-row">
    <a class="py-3 flex items-center justify-center ml-6 mr-12" href="{{ site.baseurl }}/"><img class="h-10 rounded-full hover:opacity-50" src="/assets/images/indlogo.jpg"></a>
    
    

    <ul class="barheia hidden lg:flex justify-center sticky">
        {% for item in site.data.navigation %}
          <li class="group mr-6 block lg:inline-block dropmedown relative py-3">
            <a href="{{ item.link }}" class="text-black navbarfont uppercase hover:text-gray-500 text-2xl"><h3>{{ item.name }}</h3></a>
          </li>
        {% endfor %}
    </ul>

    <div class="flex items-center justify-center">
      <form class=" text-black border border-solid uppercase heading border-black m-4" action="/search.html" method="get">
        <input class="" type="text" id="search-box" name="query">
        <input class="rounded bg-black navbarfont text-white cursor-pointer font-semibold py-1 px-2 border uppercase heading border-white hover:border-black hover:bg-white hover:text-black" type="submit" value="search">
      </form>
    </div>

    <div class="flex lg:items-center lg:justify-center">
      <a class="py-3 flex items-center justify-center" href="https://www.facebook.com/industriesofinferno/"><i class="text-black fab fa-facebook fa-2x hover:text-blue-700"></i></a>
    </div>
    
    <div class="lg:hidden flex absolute top-0 right-0 mr-1 mt-1 lg:items-center lg:justify-center">
      <button class="my-3 mobilnavbutton px-3 py-2 border rounded text-black border-solid border-2 border-black">
        PRESS ME
      </button>
    </div>

  </nav>
</div>