@import "main";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap');

.headingfont {
    font-family: 'IM Fell Double Pica', serif;
}

.navbarfont {
  font-family: 'Dosis', sans-serif;
}

.featureimg{
  min-height: 80vh;
}

.linlin {
    display: inline-block;
    padding: 15px 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0f0f;
    font-weight: 300;
    font-size: 24px;
  }
  .linlin .bar {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid gray;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
  }
  
  .linlin:hover .bar {
    opacity: 1;
    bottom: 10px;
  }

  .marginalia1{
    margin-right: 10rem;
    margin-left: 10rem;
  }

  .indentia{
    text-indent: 2em;
  }

  .fondu {
    -webkit-text-stroke: 1px black;
     color: white;
    text-shadow:
       2px  2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
  }