---
layout: default
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Industries of Inferno</title>
  </head>
  <body class="bg-black text-white h-screen">
    {% include navigationbar.html %}

      
      <div class="flex justify-center mt-24 mb-8">
          <img  class="rounded h-64 w-64" src="assets/images/indlogo.jpg" alt="wall of doom">
      </div>

      <div class="flex flex-col">
        
          <h3 class="container headingfont text-2xl font-light max-w-none text-center text-gray-100">Realms of the Black Wizards</h3>
          <div class="flex justify-center">
            <div class="border-solid border-white border-t h-1 w-2/5 mb-4 self-center"></div>
          </div>

          <div class="flex flex-grow flex-row">
            <div class="w-1/4"></div>
            <div class="w-2/4 indentia text-justify">
                {{ content }}
            </div>
            <div class="w-1/4"></div>
          </div>
          
          <div>
            <form
              action="https://formspree.io/lakserk@yahoo.com"
              method="POST"
            >
              <label>
                Your email:
                <input class="text-black" type="text" name="_replyto">
              </label><br>
              <label>
                Your message:
                <textarea class="text-black" name="message"></textarea>
              </label>
    
              <!-- your other form fields go here -->
              <br>
              <button type="submit">Send</button>
            </form>
          </div>

      </div>

      
  </body>
</html>