<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="Industries of Inferno" href="/feed.xml">
    <link rel="stylesheet" href="/assets/css/exodia.css"> 
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://kit.fontawesome.com/4b98a9722b.js" crossorigin="anonymous"></script>
    {% feed_meta %}
    {% seo %}
    
  </head>
  <body>
        {{ content }}
    <div class="max-w-none bottom-0 w-full bg-black text-white flex flex-row p-6">
      
      <div class="w-1/4">
        <a class="navbarfont uppercase" href="{{ site.baseurl }}">Industries of Inferno, {{ site.time | date: '%Y' }} </a>
      </div>
      <div class="w-1/4">
        
      </div>
      <div class="w-1/4">
        
      </div>
      <div class="w-1/4">
        <a class="navbarfont uppercase" href="{{ site.baseurl }}/about.html">About</a>
        
        <a class="navbarfont" href="/feed.xml" target="_blank">RSS</a>
      </div>
    </div>
  </body>
</html>
