<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Links</title>
    <link rel="alternate" type="application/atom+xml" title="Industries of Inferno" href="/feed.xml">
    <link rel="stylesheet" href="/assets/css/exodia.css"> 
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/assets/js/scrollshow.js"></script>
    <script src="/assets/js/search.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
    
  </head>
  <body class="bg-black text-white flex flex-col">
      {% include navigationbar.html %}
      <div class="flex justify-center pt-48 lg:pt-16 mb-8">
        <img  class="rounded h-screen/5 w-1/3 lg:h-64 lg:w-64" src="assets/images/indlogo.jpg" alt="wall of doom">
      </div>
      
      {{ content }}
      
      <div class="max-w-none bottom-0 w-full bg-black text-white flex flex-row p-2 h-screen/5 lg:h-auto">
      
        <div class="w-0 lg:w-1/4">
          
        </div>
        <div class="w-0 lg:w-1/4">
          
        </div>
        
        <div class="flex w-10/12 lg:w-5/12 text-right items-center justify-end">
          <a class="navbarfont uppercase text-5xl lg:text-base hover:text-teal-600" href="{{ site.baseurl }}/">Industries of Inferno, {{ site.time | date: '%Y' }} </a>
          &nbsp;&nbsp; <br class="lg:hidden">
          <a class="navbarfont uppercase text-5xl lg:text-base hover:text-teal-600" href="{{ site.baseurl }}/about.html">About</a>
          &nbsp;&nbsp;
          <a class="navbarfont text-5xl lg:text-base hover:text-teal-600" href="/feed.xml" target="_blank">RSS</a>
        </div>
        <div class="flex w-2/12 lg:w-1/12 items-center justify-end">
          <button class="hover:text-teal-600 mr-16 lg:mr-0" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"><i class="ri-arrow-up-s-fill text-6xl font-extrabold lg:font-normal lg:text-4xl"></i></button>
        </div>
      </div>
  </body>
</html>
