---
layout: default
---

{% include navigationlight.html %}
<div class="flex flex-col w-full min-h-screen pt-16">
    
    <div class="flex flex-row">
      <h1 class="text-3xl text-black pl-6 pt-6 navbarfont uppercase">{{ page.tag | upcase }}</h1>
      <button class="mt-6 mr-6 absolute right-0 buttontoggle rounded bg-transparent navbarfont rounded text-black font-semibold uppercase heading hover:text-teal-600">
        <i class="font-light text-3xl ri-layout-column-line"></i>
      </button>
    </div>
  
    <div class="paneli flex flex-wrap overflow-hidden p-6 text-black">
        {% for post in site.tags[page.tag] %}
          <div class=" w-1/3" >
            <a href="{{ post.url }}">
              <div class="m-1 p-2 h-64 bg-cover bg-center transition duration-500 ease-in-out transform hover:opacity-75" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
                <div class="bg-black text-white text-left inline-block px-1">
                  <h3>
                    {% if post %}
                    {% assign categories = post.categories %}
                      {% else %}
                    {% assign categories = page.categories %}
                      {% endif %} 
                    {% for category in categories %}
                    {{ category | upcase }}
                    {% unless forloop.last %}&nbsp;{% endunless %}
                    {% endfor %}
                  </h3> 
                </div>
              </div>
            </a>

            <div class="p-2">
              <a href="{{ post.url }}">
                <h2 class="text-xl hover:text-blue-400">{{ post.real-post-title }}</h2>
              </a>
                <span class="post-meta text-red-600">{{ post.date | date: "%b %-d, %Y" }}</span><br>
                <!--{% if post.author %}{{ post.author }}<span></span>{% endif %}-->
                {{ post.excerpt | truncatewords: 40 }}
            </div>
            
          </div>
        {% endfor %}
    </div>

    <div class="paneli flex flex-wrap overflow-hidden p-6 text-black hidden">
      {% for post in site.tags[page.tag] %}
        <div class="w-1/2 flex flex-row" >
          <a href="{{ post.url }}">
            <div class="m-1 p-2 h-16 w-16 bg-cover bg-center hover:opacity-75" {% if post.featured-image %} style="background-image: url(/assets/images/{{ post.featured-image }})"{% endif %}>
              <div class="bg-black text-white text-left inline-block px-1">
                <h3>
                  {% if post %}
                  {% assign categories = post.categories %}
                    {% else %}
                  {% assign categories = page.categories %}
                    {% endif %} 
                  {% for category in categories %}
                  {{ category | upcase }}
                  {% unless forloop.last %}&nbsp;{% endunless %}
                  {% endfor %}
                </h3> 
              </div>
            </div>
          </a>

          <div class="p-2">
            <a href="{{ post.url }}">
              <h2 class="text-xl hover:text-blue-400">{{ post.real-post-title }}</h2>
            </a>
              <span class="post-meta text-red-600">{{ post.date | date: "%b %-d, %Y" }}</span><br>
          </div>
          
        </div>
      {% endfor %}
  </div>
  
  </div>